body {
	font-family: Arial, sans-serif;
	background-color: #EFF3F5;
}

.exception {
	color: red;
	font-weight: bold;
}

th, td {
	border: 1px solid gray;
	margin-bottom: 3px;
} 

tr {
	border-bottom: 0;
}

table {
	background-color: #F3FEFF;
}

.times, .times table {
	display: none;
	border: 0;
}

.container {
	display: block;
	margin: 25px;
}

.container-head {
	display: block;
	text-align: center;

	font-size: 34px;
	font-weight: bold;

	padding: 32px 0 32px 0;
	margin: 0 10% 32px 10%;
	border-bottom: 2px dotted #98ADB0;
}

.container-body {
	display: block;
	border: 0;
}

.week {
	display: block;
}

.times {
	display: table-cell;
	text-align: center;
}

.day-name th,
.times th {
	background-color: #98ADB0;
	border: 1px solid gray;
}

.day,
.day table,
.day thead,
.day tbody {
	display: block;
	border: 0;
}

.day {
	margin-bottom: 10px;
}

.day tr {
	display: none;
}

.day thead th,
.event td {
	display: block;
}


.day-name {
	display: block !important;

	height: 23px;
}

.event {
	display: block !important;

	text-align: center;
}

.event-time {
	position: absolute;
	left: 45px;
	text-align: left;

	color: #383838;
	font-size: 14px;
}

.event-time-space {
	display: none;
}

.course1, .course2, .course3, .course4, .course5 {
	overflow: hidden;
}

.course4 .event-time{
	color: #E8E8E8;
}

.course1 {
	background-color: #A9D08E;
}

.course2 {
	background-color: #5B9BD5;
}

.course3 {
	background-color: #ED7D31;
}

.course4 {
	color: #FAFAFA;
	background-color: #7030A0;
}



.course5 {
	background-color: #FFC000;
}

@media(max-width: 425px){
	.event-time-space {
		display: block;
	}

	.event-info {
		position: static;
		float: right;
		margin-right: 10px;
		text-align: right;
	}
}

@media(min-width: 750px){

	.times, .day {
		border: 1px solid gray;
		border-right: 0 solid gray;
	}

	.day:last-child table{
		border-right: 1px solid gray;
	}
	
	.day th {
		border-bottom: none;
	}

	.container {
		margin: 25px auto 50px auto;
		display: table;
	}

	.week {
		display: table-row;
	}

	.times {
		display: table-cell;
	}

	.times table {
		display: table;
	}

	.day {
		display: table-cell;
		vertical-align: top;
	}

	.day table {
		display: table;
		empty-cells: hide;
	}

	.day tbody {
		display: table-row-group;
	}

	.day thead {
		display: table-header-group;
	}

	.day tr {
		display: table-row;
	}

	.day th {
		display: table-cell;
	}

	.day tr {
		display: table-row !important;
	}

	.day-name {
		display: table-row;
	}

	.times td,
	.times th,
	.day td,
	.day th {
		display: table-cell;
		height: 30px;
		box-sizing: border-box;
		margin-bottom: 0;
	}
	
	.times td[rowspan="2"],
	.times th[rowspan="2"],
	.day th[rowspan="2"],
	.day td[rowspan="2"] {
		height: 60px;
	}
	
	.times td[rowspan="3"],
	.times th[rowspan="3"],
	.day th[rowspan="3"],
	.day td[rowspan="3"] {
		height: 90px;
	}
	
	.times td[rowspan="4"],
	.times th[rowspan="4"],
	.day th[rowspan="4"],
	.day td[rowspan="4"] {
		height: 120px;
	}
	
	.times td[rowspan="5"],
	.times th[rowspan="5"],
	.day th[rowspan="5"],
	.day td[rowspan="5"] {
		height: 150px;
	}
	
	.times td[rowspan="6"],
	.times th[rowspan="6"],
	.day th[rowspan="6"],
	.day td[rowspan="6"] {
		height: 180px;
	}

	.event-time {
		display: block;
		position: static;
		text-align: center;
	}

	.truncate {
		max-width: 120px;
		margin-left: auto;
		margin-right: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media(min-width: 925px){
	.truncate {
		max-width: 130px;
	}
}